{% extends 'layout.html' %}
{% block body %}
	<h1>Account Information</h1>
	<div class="row">
			<div class="col-sm-6">
		    	<label for="account_id">Alexa Account ID</label>
		    	<div class="input">
			        	<textarea class="form-control" id="account_id" name="account_id" type="text" rows="4" value="">AFP3ZWPOS2BGJR7OWJZ3DHPKMOMNWY4AY66FUR7ILBWANIHQN73QHSSTSIP6S6OZ2NIZ5J77VPQSLPWFNHJRWU6FHGNTWJ53Y6HEEADC2BXWV5CN7ZEWFU7SHEG4VVSVQGTCQ3H4NQMXJKNM6UGPJBMSNJGATO3EJ4F3HBWWUWNMKIX3Q3LNZ72NPQOJHBE6JIJ4X2LRJV5BEKA
			        	</textarea>
				</div>
				</br>
		    </div>
		 	<div class="col-sm-6">
		    	<label for="account_id">Venmo Username</label>
		    	<div class="input">
			        	<input class="form-control" id="account_id" name="account_id" type="text" rows="2" value="@RyanNeff">
					</div>
				</br>
		    </div>
		    <div class="col-sm-6">
		    		<label for="account_id">Dominos Username</label>
		    		<div class="input">
			        	<input class="form-control" id="account_id" name="account_id" type="text" rows="2" value="nosarcasm">
					</div>
					</br>
			</div>
	</div>
</div>
{% endblock %}